<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qww.carrent.mapper.CarMapper">

    <resultMap id="BaseResultMap" type="com.qww.carrent.model.entity.Car">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="carCategoryId" column="carCategoryId" jdbcType="INTEGER"/>
            <result property="carNumber" column="carNumber" jdbcType="VARCHAR"/>
            <result property="mileage" column="mileage" jdbcType="INTEGER"/>
            <result property="quality" column="quality" jdbcType="VARCHAR"/>
            <result property="imgUrl" column="imgUrl" jdbcType="VARCHAR"/>
            <result property="rentPrice" column="rentPrice" jdbcType="DECIMAL"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,carNumber,mileage,
        quality,rentPrice,color,
        status,createTime,updateTime,
        isDelete
    </sql>
</mapper>
