<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qww.carrent.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.qww.carrent.model.entity.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="carDetailId" column="carDetailId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="totalPrice" column="totalPrice" jdbcType="DECIMAL"/>
            <result property="rentalStartDate" column="rentalStartDate" jdbcType="TIMESTAMP"/>
            <result property="rentalEndDate" column="rentalEndDate" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,carDetailId,userId,
        totalPrice,rentalStartDate,rentalEndDate,
        status,createTime,updateTime,
        isDelete
    </sql>
</mapper>
